body {
    background: #f5f5f5;
    padding: 130px;
    font-family: Arial, sans-serif;
}

h2 {
    margin-top: 5px;
    height: 50px;
    justify-content: center;
    align-items: center;

    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.col-3 {
    width: 25%;
    padding-inline: 12px;
    display: flex;
    gap: 10px;
}

.svg-box {
    display: flex;
    justify-content: center;
}

.event-container {
    gap: 20px;

    height: 52vh;
    height: 567px;

}

.event-card {
    background: #fdf8f8;
    padding: 20px;
    width: 170px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    width: 424;
}

img {
    width: 170px;
    height: 100px;
    border-radius: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-inline: 12px;
}

span {
    font-size: 13px;
    text-align: center;
}

h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.cent {
    display: flex;
    justify-content: center;

}

button {
    background-color: #2c49fe;
    width: 60%;
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin-top: 3px;
    ;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

button:hover {
    background: rgb(28, 145, 255);
}

.date {
    display: flex;
    align-items: center;
    gap: 0px;
    font-size: 14px;
    padding: 5px;
}

.loction {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    padding: 8px;
}

.group {
    display: flex;
    align-items: center;
    gap: 0px;
    font-size: 14px;
    padding: 7px;
}